@model IEnumerable<cppPLUS_2407.Models.ClientMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientDescr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserMod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientDescr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserMod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientID })
        </td>
    </tr>
}

</table>
